@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
